<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoulychn.dao.base.AnchorBaseMapper">
  <resultMap id="BaseResultMap" type="com.zhoulychn.bean.entity.AnchorBase">
    <id column="anchor_url" jdbcType="VARCHAR" property="url" />
    <result column="anchor_name" jdbcType="VARCHAR" property="name" />
    <result column="anchor_popluation" jdbcType="DOUBLE" property="popluation" />
    <result column="anchor_title" jdbcType="VARCHAR" property="title" />
    <result column="anchor_group_number" jdbcType="VARCHAR" property="groupNumber" />
    <result column="anchor_platform" jdbcType="VARCHAR" property="platform" />
    <result column="anchor_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="anchor_state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    anchor.url as anchor_url, anchor.name as anchor_name, anchor.popluation as anchor_popluation, 
    anchor.title as anchor_title, anchor.group_number as anchor_group_number, anchor.platform as anchor_platform, 
    anchor.update_time as anchor_update_time, anchor.state as anchor_state
  </sql>
  <select id="selectByExample" parameterType="com.zhoulychn.bean.entity.AnchorBaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from anchor anchor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from anchor anchor
    where anchor.url = #{url,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from anchor
    where url = #{url,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhoulychn.bean.entity.AnchorBaseExample">
    delete from anchor anchor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhoulychn.bean.entity.AnchorBase">
    insert into anchor (url, name, popluation, 
      title, group_number, platform, 
      update_time, state)
    values (#{url,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{popluation,jdbcType=DOUBLE}, 
      #{title,jdbcType=VARCHAR}, #{groupNumber,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhoulychn.bean.entity.AnchorBase">
    insert into anchor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="popluation != null">
        popluation,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="groupNumber != null">
        group_number,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="popluation != null">
        #{popluation,jdbcType=DOUBLE},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="groupNumber != null">
        #{groupNumber,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhoulychn.bean.entity.AnchorBaseExample" resultType="java.lang.Long">
    select count(*) from anchor anchor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update anchor anchor
    <set>
      <if test="record.url != null">
        anchor.url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        anchor.name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.popluation != null">
        anchor.popluation = #{record.popluation,jdbcType=DOUBLE},
      </if>
      <if test="record.title != null">
        anchor.title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.groupNumber != null">
        anchor.group_number = #{record.groupNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.platform != null">
        anchor.platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        anchor.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        anchor.state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update anchor anchor
    set anchor.url = #{record.url,jdbcType=VARCHAR},
      anchor.name = #{record.name,jdbcType=VARCHAR},
      anchor.popluation = #{record.popluation,jdbcType=DOUBLE},
      anchor.title = #{record.title,jdbcType=VARCHAR},
      anchor.group_number = #{record.groupNumber,jdbcType=VARCHAR},
      anchor.platform = #{record.platform,jdbcType=VARCHAR},
      anchor.update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      anchor.state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhoulychn.bean.entity.AnchorBase">
    update anchor
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="popluation != null">
        popluation = #{popluation,jdbcType=DOUBLE},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="groupNumber != null">
        group_number = #{groupNumber,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where url = #{url,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhoulychn.bean.entity.AnchorBase">
    update anchor
    set name = #{name,jdbcType=VARCHAR},
      popluation = #{popluation,jdbcType=DOUBLE},
      title = #{title,jdbcType=VARCHAR},
      group_number = #{groupNumber,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where url = #{url,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.zhoulychn.bean.entity.AnchorBaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from anchor anchor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>
